// COLORS
$white: #ffffff;
$purple: #D03958;
$nav-black: #1B1B1B;
$black: #161616;
$another-black: #1F1F1F;
$sandstone: #E3D5B8;
$brown: #B4A993;
$form-grey: #B5B5B5;

// FONT WEIGHT
$fw-normal: 400;
$fw-bold: 700;

// FONT SIZE
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-50: 50px;
$fs-60: 60px;
$fs-64: 64px;
$fs-88: 88px;
$fs-90: 90px;

// LINE HEIGHT
$lh-21: 21px;
$lh-22: 22px;
$lh-24: 24px;
$lh-26: 26px;
$lh-27: 27px;
$lh-29: 29px;
$lh-59: 59px;
$lh-61: 61px;
$lh-73: 73px;
$lh-75: 75px;
$lh-104: 104px;
$lh-110: 110px;